<!-- <div class="p-3">
    <ul id = "userslist">
    </ul>
</div> -->

<div class="card mt-4">
    <h4 class="card-header">Users:</h4>
    <div class="card-body">
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul *ngIf="users">
                        <li *ngFor="let user of users">{{user.username}} {{user.autorites}}</li>
                    </ul>
                </div>
                <div class="col">
                    <form [formGroup]="userForm" novalidate>
                        <h4>Create user:</h4>
                        <div class="mb-3 form-group">
                          <label for="usernameInput" class="form-label">Username</label>
                          <input type="username" class="form-control" id="usernameInput" aria-describedby="emailHelp" formControlName="userName">
                          <div class="text-danger col-4 mx-auto"
                            *ngIf="userForm.controls['userName'].invalid && userForm.controls['userName'].touched">Username is incorrect!</div>
                        </div>
                        <div class="mb-3 form-group">
                          <label for="passwordInput" class="form-label">Password</label>
                          <input type="password" class="form-control" id="passwordInput" formControlName="userPassword">
                          <div class="text-danger col-4 mx-auto"
                            *ngIf="userForm.controls['userPassword'].invalid && userForm.controls['userPassword'].touched">Password is incorrect!</div>
                        </div>
                        <div class="input-group mb-3 form-group">
                          <label class="input-group-text px-4" for="inputGroupSelect01">Role</label>
                          <select class="form-select" id="inputGroupSelect01" formControlName="userRole">
                            <option *ngFor="let role of roles" [ngValue]="role.value">{{role.value}}</option>
                          </select>
                        </div>
                        <div class="d-grid gap-2 col-6 mx-auto mt-4 form-group">
                          <button class="btn btn-primary" type="button" [disabled]="userForm.invalid" (click) = "onSubmit()">Create</button>
                        </div>
                    </form>
                  </div>
              </div>
          </div>
      </div>
  </div>