<!-- <div class="p-3">
    <ul id = "userslist">
    </ul>
</div> -->

<div class="card mt-4">
    <h4 class="card-header">Users:</h4>
    <div class="card-body">
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul *ngIf="users">
                        <li *ngFor="let user of users">{{user.username}} {{user.autorites}}</li>
                    </ul>
                </div>
                <div class="col">
                    <form>
                        <h4>Create user:</h4>
                        <div class="mb-3">
                          <label for="usernameInput" class="form-label">Username</label>
                          <input type="username" class="form-control" id="usernameInput" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                          <label for="passwordInput" class="form-label">Password</label>
                          <input type="password" class="form-control" id="passwordInput">
                        </div>
                      </form>
                    <div class="input-group mb-3">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Role</button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">User</a></li>
                          <li><a class="dropdown-item" href="#">Developer</a></li>
                          <li><a class="dropdown-item" href="#">Admin</a></li>
                          <li><a class="dropdown-item" href="#">Super admin</a></li>
                        </ul>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>