<div th:fragment="navbar">
    <div class="container-max-widths">
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e6e6e6;">
                    <img [src] = "imgLink" width="40" height="40" class="d-inline-block align-text-top ms-2 me-3" alt="">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" routerLink="/calc">Calculator</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" *ngIf="isAdmin()" routerLink= "/admin">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" *ngIf="isDeveloper()" routerLink = "/users">User list</a>
                        </li>
                    </ul>
                    <div class="navbar-brand">Hello, {{currentUser.username}}</div>
                    <a class="btn btn-primary me-3" (click)="logout()">Logout</a>
                </nav>
            </div>
        </div>
    </div>
</div>