<div class="card mt-4">
    <h4 class="card-header"></h4>
    <div class="card-body">
        <label for = "chkBoxSelectAll">
            <input id = "chkBoxSelectAll" class="chkBoxSelectAll me-1" type="checkbox" value="0">
        </label>
        <button class = "buttonDel">DELETE</button>
        <h6>Expressions:</h6>
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <ul *ngIf="expressions">
            <li *ngFor="let expression of expressions"><b>{{expression.date}}:</b> {{expression.expressionList}} = {{expression.result}}</li>
        </ul>
    </div>
</div>